meta(charset='utf-8')
meta(name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no")
title=page.title
meta(description=page.description)
meta(property="og:title" content=page.title)
meta(property="og:type" content=page.type)
meta(property="og:url" content=page.url)
meta(property="og:description" content=page.description)
meta(property="og:image" content='')
link(rel="stylesheet", href="/assets/css/style.css")
link(rel="icon" href="" type="image/png")